.aboutus {
    background-color: $bg-blue;
    background-image: url(../img/man2.png);
    background-repeat: no-repeat;
    background-position: bottom 0 center;
    padding: 79px 0 470px;

    &-btn {
        display: block;
        width: 97px;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        border: 1px solid $color-ltgreen;
        color: $color-ltgreen;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.07px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 183px;
    }

    &-title {
        max-width: 485px;
        width: 100%;
        color: $color-white;
        @include GeneralSans-Regular(72px, 80px, 400);
        letter-spacing: 0.36px;

        span {
            @include GeneralSans-Medium(72px, 80px, 500);
            letter-spacing: 0.36px;
        }
    }

    &-right {
        max-width: 532px;
        width: 100%;

        span {
            display: block;
            color: $color-white;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.12px;
            margin-bottom: 16px;
        }

        p {
            @include GeneralSans-Regular(18px, 26px, 400);
            color: #D1D1D6;
            letter-spacing: 0.09px;
        }
    }


}

