.aboutus {
    background-color: $bg-blue;
    padding: 79px 0 0;

    &-btn {
        display: block;
        width: 97px;
        text-align: center;
        padding: 8px;
        border-radius: 20px;
        border: 1px solid $color-ltgreen;
        color: $color-ltgreen;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.07px;
        margin-bottom: 12px;
        cursor: pointer;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;

        @media (max-width: 1100px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &-title {
        max-width: 485px;
        width: 100%;
        color: $color-white;
        @include GeneralSans-Regular(72px, 80px, 400);
        letter-spacing: 0.36px;

        @media (max-width: 590px) {
            font-size: 52px;
            line-height: 60px;
        }

        span {
            @include GeneralSans-Medium(inherit, inherit, 500);
            letter-spacing: 0.36px;
        }
    }

    &-right {
        max-width: 532px;
        width: 100%;

        span {
            display: block;
            color: $color-white;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.12px;
            margin-bottom: 16px;
        }

        p {
            @include GeneralSans-Regular(18px, 26px, 400);
            color: #D1D1D6;
            letter-spacing: 0.09px;
        }
    }

    &-img{
        max-width: 580px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .expiriences {
        border-radius: 16px;
        background: url(../img/icon-play.svg) no-repeat left 20px top 20px, linear-gradient(227deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.00) 100%);
        box-shadow: 48px 48px 80px 0px rgba(8, 23, 45, 0.12);
        backdrop-filter: blur(10px);
        width: 213px;
        padding: 20px 20px 20px 68px;
        position: absolute;
        bottom: 120px;
        left: -50px;

        @media (max-width: 768px) {
            left: 0;
        }

        @media (max-width: 590px) {
            display: none;
        }

        &-list{
            top: 95px;
            bottom: auto;
            left: auto;
            right: -30px;

            @media (max-width: 768px) {
                right: 0;
            }
        }

        span {
            display: block;
            color: $color-white;
        }

        .title-number {
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.16px;
            margin-bottom: 4px;
        }

        .expiriences-text {
            @include GeneralSans-Regular(14px, 22px, 400);
            letter-spacing: 0.07px;
        }
    }


}